// box ui

ul.box {
	// .border-black;
	// .background-black(#272727, 0.1);
	.rounded-corners;
	list-style-type: none;
	margin-left: 0px;
	.shadow-black;
}

ul.box.simple { 
	.border-black;
	.none-box-shadow;
}

ul.box li {
	margin: 0px;
	.border-bottom(#272727, 0.1);
	margin: 0px;
	padding: 8px;
	overflow: hidden;

	&.nice {color: @success-color;}
	&.bad  {color: @danger-color;}
}

ul.box li:not(.title) {
	&:hover {
		.background-black(#272727, 0.1);
		cursor: pointer;
	}
}

ul.box .title {text-align: center;}
ul.box .sub {color: #666; font-size: 0.8em;}

ul.box li img { 
	float: left;
	margin-right: 4px;
}

ul.box li:last-child {
	border-bottom: 0px;
}