#main_wrapper {
    background: url("../img/main.jpg");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../img/main.jpg");
    
    margin-bottom: 10px;
    padding: 0px;

    border: 1px solid #272727;
    border-top: 1px solid #222222;
}

#sidebar {
    .background-black(#272727, 0.1);
}

#main {
    padding: 20px;
    margin-left: 0px;
    // border-left: 1px solid #292929;
    .background-black(#222222, 0.2);
}