<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12" id="lead-bar">
			<h2>Hi, I'm Proshow Template.</h2>
			<span class="lead">
				A fully responsive template for your app or product.
			</span>
			<p id="btn-download">
				<a href="javascript:void(0)" class="css3dbutton"><i class="icon-cloud-download"></i> Download Now</a>
			</p>
			<span class="muted">Available now for iPhone, iPod touch, and iPad.</span>

			<div id="features" class="pull-right">
				<div class="slide-content">
					<h3><i class="icon-lightbulb"></i> Fully Responsive</h3>
					<ul>
						<li>Desktop</li>
						<li>Phone</li>
						<li>Pad</li>
						<li>Tablets</li>
						<li>Responsive Menus, Tables, Images</li>
					</ul>
				</div>

				<div class="slide-content">
					<h3><i class="icon-lightbulb"></i> Guide Tour</h3>
					<ul>
						<li>Getting started with Starter page</li>
						<li>Customize Styles</li>
						<li>Customize Contents</li>
						<li>Use UI Elements</li>
						<li>Working with Middleman</li>
					</ul>
				</div>

				<div class="slide-content">
					<h3><i class="icon-lightbulb"></i> UI Elements</h3>
					<ul>
						<li>Google Keep Style Typo</li>
						<li>Modal Box</li>
						<li>Pure CSS 3D Buttons</li>
						<li>Orbit Slides</li>
						<li>Image Effects</li>
						<li>Accordions</li>
						<li>Pricing Tables</li>
					</ul>
				</div>

				<div class="slide-content">
					<h3><i class="icon-lightbulb"></i> Others Points</h3>
					<ul>
						<li>Google Webfonts(Dosis, Snippet)</li>
						<li>Lightbox Image</li>
						<li>Awesome Font</li>
						<li>HTML5 &amp; CSS3</li>
						<li>Based on Modernizr and Respond</li>
						<li>MiddleMan Supported</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!--sub-container-->
<div class="container-fluid" id="sub-container">
	<div class="row-fluid">
		<div class="span8">
			<h2 id="latest-news"><i class="icon-bullhorn"></i> Initial Version Released!</h2>
			<p class="split-column">
				The Proshow released today, Thanks for your support, checking following to know about it. Lorem ipsum dolor nostrud sunt aute esse est consequat laboris in Excepteur in fugiat ad nisi irure esse do et eu ullamco occaecat commodo ut non enim ex reprehenderit nostrud sed. 
				Lorem ipsum dolor nostrud sunt aute esse est consequat laboris in Excepteur in fugiat ad nisi irure esse do et eu ullamco occaecat commodo ut non enim ex reprehenderit nostrud sed. 
			</p>

			<div>
			<h6>Features Check List</h6>
				<ul class="split-column">
					<li>Fully Responsive</li>
					<li>Google Keep Style Typo</li>
					<li>Awesome Font</li>
					<li>Guide Tour</li>
					<li>Modal Box</li>
					<li>3D Buttons</li>
					<li>Slides</li>
					<li>Image Effects</li>
					<li>Accordions</li>
					<li>Google Webfonts</li>
					<li>Lightbox Image</li>
					<li>Simple to Customize</li>
					<li>HTML5 &amp; CSS3</li>
					<li>Based on Modernizr and Respond</li>
					<li>MiddleMan Supported</li>
					<li>Starter Template Included</li>
				</ul>
			</div>
		</div>
		<div class="span4">
			<p>
				<img class="circle-border" src="img/lead.png" alt="">
			</p>
		</div>
	</div>

	<div class="row-fluid">
		<hr>
	</div>

		<div class="row-fluid">
		<div class="span12">
			<h2><i class="icon-money"></i> Pricing Table</h2>
		</div>
	</div>

	<div class="row-fluid" id="pricing">
		<div class="span3 pricing-widget google-keep-inverse">
			<h3>Try</h3>
			<span class="span3 price">$5</span>
			<ul>
				<li>Lorem ipsum aliquip minim.</li>
				<li>Lorem ipsum aliquip minim.</li>
				<li>Lorem ipsum aliquip minim.</li>
				<li>Lorem ipsum aliquip minim.</li>
				<li>Lorem ipsum aliquip minim.</li>
			</ul>
			<a href="javascript:void(0)" class="btn btn-large">Buy It</a>
		</div>

		<div class="span3 pricing-widget google-keep-info">
			<h3>Single</h3>
			<span class="span3 price">$10</span>
			<ul>
				<li>Lorem ipsum aliquip minim.</li>
				<li>Lorem ipsum aliquip minim.</li>
				<li>Lorem ipsum aliquip minim.</li>
				<li>Lorem ipsum aliquip minim.</li>
				<li>Lorem ipsum aliquip minim.</li>
			</ul>
			<a href="javascript:void(0)" class="btn btn-large">Buy It</a>
		</div>

		<div class="span3 pricing-widget google-keep-warning current">
			<h3>Multi</h3>
			<span class="span3 price">$30</span>
			<ul>
				<li>Lorem ipsum aliquip minim.</li>
				<li>Lorem ipsum aliquip minim.</li>
				<li>Lorem ipsum aliquip minim.</li>
				<li>Lorem ipsum aliquip minim.</li>
				<li>Lorem ipsum aliquip minim.</li>
			</ul>
			<a href="javascript:void(0)" class="btn btn-large">Buy It</a>
		</div>

		<div class="span3 pricing-widget google-keep-danger">
			<h3>Extended</h3>
			<span class="span3 price">$700</span>
			<ul>
				<li>Lorem ipsum aliquip minim.</li>
				<li>Lorem ipsum aliquip minim.</li>
				<li>Lorem ipsum aliquip minim.</li>
				<li>Lorem ipsum aliquip minim.</li>
				<li>Lorem ipsum aliquip minim.</li>
			</ul>
			<a href="javascript:void(0)" class="btn btn-large">Buy It</a>
		</div>
	</div>

	<div class="row-fluid">
		<hr>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<h2><i class="icon-user"></i> Our Clients</h2>
			<ul id="clients">
				<li>
					<div class="outer">
						<a href="javascript:void(0)" data-toggle="tooltip" title="This is one of my favorite gifts for the season.">Dxyixs</a>
					</div>
				</li>
				<li>
					<div class="outer">
						<a href="javascript:void(0)" data-toggle="tooltip" title="he entire experience really couldn't have been simpler.">Kenity</a>
					</div>
				</li>
				<li>
					<div class="outer">
						<a href="javascript:void(0)" data-toggle="tooltip" title="This is one of my favorite gifts for the season.">Dxyixs</a>
					</div>
				</li>
				<li>
					<div class="outer">
						<a href="javascript:void(0)" data-toggle="tooltip" title="he entire experience really couldn't have been simpler.">Kenity</a>
					</div>
				</li>
				<li>
					<div class="outer">
						<a href="javascript:void(0)" data-toggle="tooltip" title="This is one of my favorite gifts for the season.">Dxyixs</a>
					</div>
				</li>
				<li>
					<div class="outer">
						<a href="javascript:void(0)" data-toggle="tooltip" title="he entire experience really couldn't have been simpler.">Kenity</a>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<h2><i class="icon-trophy"></i> Sites using your products</h2>
			<ul id="clients-logo">
				<li><a href="javascript:void(0)"><img src="img/logo-pixar.png" alt=""></a></li>
				<li><a href="javascript:void(0)"><img src="img/logo-losalamos.png" alt=""></a></li>
				<li><a href="javascript:void(0)"><img src="img/logo-webfwd.png" alt=""></a></li>
				<li><a href="javascript:void(0)"><img src="img/logo-natgeo.png" alt=""></a></li>
				<li><a href="javascript:void(0)"><img src="img/logo-flite.png" alt=""></a></li>
				<li><a href="javascript:void(0)"><img src="img/logo-felix.png" alt=""></a></li>
			</ul>
		</div>
	</div>
</div>
<!--/sub-container-->