/*------------------------------------------------------------------

[Responsive Stylesheet]

    Project:        WeddingDress Responsive
    Version:        1.0
    Last change:    03/20/2013
    Assigned to:    Bob Wang


[Table of contents]

    1. Global
    2. Miscs
    3. Blog

-------------------------------------------------------------------*/

@charset "UTF-8";

@font-face {
  font-family: 'Gabriela';
  src: url('../font/Gabriela-Regular.ttf');
  font-weight: 400;
}

html {
  overflow-y: scroll;
}

body {
  margin-top: 0em;
  padding-top: 2em;
  overflow: visible;
  background: url("../img/bg.png") repeat;
  color: #deb887;
  
  -o-box-shadow: inset 0em 0em 1.5em #deb887, inset 0em 0em 3.5em #deb887;
  -ms-box-shadow: inset 0em 0em 1.5em #deb887, inset 0em 0em 3.5em #deb887;
  -moz-box-shadow: inset 0em 0em 1.5em #deb887, inset 0em 0em 3.5em #deb887;
  -webkit-box-shadow: inset 0em 0em 1.5em #deb887, inset 0em 0em 3.5em #deb887;
  box-shadow: inset 0em 0em 1.5em #deb887, inset 0em 0em 3.5em #deb887;
}

h1 { font-size: 2.0em }
h2 { font-size: 1.8em }
h3 { font-size: 1.6em }
h4 { font-size: 1.4em }
h5 { font-size: 1.2em }
h6 { font-size: 1.0em }

#main_wrapper {
  margin: 0em auto;
  padding: 0em;
  padding-bottom: 1.5em;

  /* limit the max width */
  width: 96%;
  max-width: 1400px;
}

footer {
	text-align: center;
	margin: 0em auto;
}

/* Style Options START */

a {
  color: #deb887;
}

a:hover {
  color: black;
  text-decoration: none;
}

.btn {
  color: #deb887;
}

/* Style Options END */

.top_bar {
  margin-top: 0.625em;
  margin-bottom: 1.25em;
  color: #deb887;
}

.carousel-inner .item img {
  -o-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;

  width: 100%;
}

.carousel-caption {
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  background: #deb887;
  background: none repeat scroll 0 0 rgba(222, 184, 135, 0.75);

} 

/* widget */
.widget {
  clear: both;
  margin-bottom: 2em;
  overflow: hidden;
  position: relative;
  width: auto;
}

.widget-header {
  border: 0.0625em solid #d3d3d3;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  height: 2.5em;
  line-height: 2.5em;
  position: relative;
  padding-right: 0.625em;
}

.widget-footer {
  border: 0.0625em solid #d3d3d3;
  border-top: 0.0625em solid #d3d3d3;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  height: 2.5em;
  line-height: 2.5em;
  position: relative;
  padding: 0em 0.625em;
  margin-top: -0.25em;
  text-align: center;
  font-size: 1em;
  text-shadow: 0.0625em 0.0625em 0.125em #fcfcfc;
}

.widget-header, .widget-footer {
  background-color: #e7e7da;
}

.widget-header .widget-btn {
  margin: 0em;
}

.widget-header .widget-btn i {
  margin-left: 0.125em;
  margin-right: 0.125em;
}

.widget-header [class^="icon-"], .widget-header [class*=" icon-"] {
  display: inline-block;
  font-size: 1em;
  margin-left: 0.8125em;
  margin-right: -0.125em;
  vertical-align: middle;
}

.widget-header h3 {
  display: inline-block;
  font-size: 0.875em;
  font-weight: 800;
  left: 0.625em;
  line-height: 1.125em;
  margin-right: 1.25em;
  margin-left: 0.25em;
  text-shadow: 0.0625em 0.0625em 0.125em #fcfcfc;
  top: 0125em;
}

.widget-content:after {
  clear: both;
}

.widget-content:before,
.widget-content:after {
  display: table;
}

.widget-content:before, .widget-content:after {
  display: table;
}

.widget-header + .widget-content {
  border-top: medium none;
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
}

.widget-content {
  background: #fcfff4;
  background: none repeat scroll 0 0 rgba(252, 255, 244, 0.75);
  border: 0.0625em solid #d3d3d3;
  border-bottom: 0.0625em solid #d3d3d3;
  
  -o-border-radius: 0.3125em;
  -ms-border-radius: 0.3125em;
  -moz-border-radius: 0.3125em;
  -webkit-border-radius: 0.3125em;
  border-radius: 0.3125em;
  
  padding: 1.25em 0.9375em 0.9375em;
  opacity: 0.9;
}

.navbar .navbar-inner .nav-collapse ul li { 
  text-align: center;
}

.navbar .nav li  a {
  color: #deb887;
}

.thumbnail {
  border: none;
}

.thumbnail img {
  -o-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}

.thumbnail .broken_price {
  color: #deb887;
  text-decoration: line-through;
  vertical-align: middle;
  padding-top: 0.625em;
}

.thumbnail .cur_price {
  color: #deb887;
  font-weight: bold;
  vertical-align: middle;
  padding-top: 0.75em;
}

.thumbnail .caption {
  text-align: center;
}

.item-list {
  list-style: none;
  margin: -0.125em;
}

.color_box {
  -o-border-radius: 0.125em;
  -ms-border-radius: 0.125em;
  -moz-border-radius: 0.125em;
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;

  list-style: none;
}

.color_box li {
  display: inline;
}

.color_box a {
  -o-border-radius: 0.125em;
  -ms-border-radius: 0.125em;
  -moz-border-radius: 0.125em;
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
}

.color_box a:hover {
  text-decoration: none;
  font-size: 1.125em;
  transition: all .2s ease 0s;
}

.color_box .red {
  background-color: red;
}

.color_box .blue {
  background-color: blue;
}

.color_box .white {
  background-color: white;
}

.color_box .silver {
  background-color: silver;
}

.color_box .pink {
  background-color: pink;
}

.copyright .pull-left {
  text-align: left;
}

.copyright .link_icon {
  font-size: 2.25em;
  margin-top: 2.5em;
}

.listview .comment {
  height: auto;
}

.listview h3 {
  margin-top: 0em;
}

.listview .span12 {
  margin-left: 0em;
}

.listview .thumbnail  img {
  margin: 0.625em;
  float: left;
}

 .split-column p {
  -o-column-count: 2;
  -ms-column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

.gridview .span3 {
  margin-left: 0em;
  margin-right: 0.5em;
}

.gridview .span2 {
  margin-left: 0em;
  margin-right: 0.5em;
}

.listview .span6 {
  margin-left: 0em;
  margin-right: 0.625em;
}

.listview .caption {
  text-align: left;
}

.listview img,.guide img, .special img, .hot-post img, #blog_main img {
  -o-box-shadow: 0.0625em 0.0625em 0.125em #000;
  -ms-box-shadow: 0.0625em 0.0625em 0.125em #000;
  -moz-box-shadow: 0.0625em 0.0625em 0.125em #000;
  -webkit-box-shadow: 0.0625em 0.0625em 0.125em #000;
  box-shadow: 0.0625em 0.0625em 0.125em #000;
}

.special {
  text-align: center;
}

.subnav {
  list-style: none;
  margin-top: 0em;
  margin-left: 0em;
  padding-left: 0em;
}

.subnav li {
  display: inline-block;
}

.subnav li h3 {
  margin-top: 0em;
}

.number {
  background-color: #d3d3d3;
  
  -o-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  
  color: #deb887;
  font-size: 1.5em;
  padding: 0.25em;
  margin-top: 0.5em;
}

.thumbnail {
  border: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.article-list .thumbnail {
  border-bottom-right-radius: 0em; 
}

.checkout img {
  -o-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;

  -o-box-shadow: 0.0625em 0.0625em 0.3125em #000, -0.0625em -0.0625em 0.3125em #000;
  -ms-box-shadow: 0.0625em 0.0625em 0.3125em #000, -0.0625em -0.0625em 0.3125em #000;
  -moz-box-shadow: 0.0625em 0.0625em 0.3125em #000, -0.0625em -0.0625em 0.3125em #000;
  -webkit-box-shadow: 0.0625em 0.0625em 0.3125em #000, -0.0625em -0.0625em 0.3125em #000;
  box-shadow: 0.0625em 0.0625em 0.3125em #000, -0.0625em -0.0625em 0.3125em #000;
}

.error_text {
  font-size: 4.5em;
  line-height: 0.8em;
  text-align: center;
  font-weight: bold;
}

/* uncomment to use shadow border */
.navbar-inner {
  background: none;
  border: none;
  
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  
  padding: 0em;
}

.nav-custom {
  font-family: 'Gabriela', 'serif';
  font-weight: 400;
  font-size: 1.3em;
  margin: 0em;
  margin-bottom: 1em;
}

.nav-custom {
  list-style: none;  
  margin-top: 0.625em;
}

.nav-custom li {
  display: inline-block;
}

.nav-custom li a {
  color: #deb887;
}

.nav-custom li a:hover, .nav-custom .current a {
  color: green;
}

.mnav {
  margin-left: 2em;
}

.fly-box {
  position: relative; 
  overflow: hidden;
}

.fly-box img {
  -o-box-shadow: -0.0625em -0.0625em 0.5em #000;
  -ms-box-shadow: -0.0625em -0.0625em 0.5em #000;
  -moz-box-shadow: -0.0625em -0.0625em 0.5em #000;
  -webkit-box-shadow: -0.0625em -0.0625em 0.5em #000;
  box-shadow: -0.0625em -0.0625em 0.5em #000;
  margin: 0.5em;
  width: 90%;
}

/*
.fly-box img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);

  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
*/

.move-view {
   position: relative;
   text-align: center;
}

.move-view .mask {
  position: absolute;
  overflow: hidden;
  top: 0em;
  left: 0em;
  height: 100%;
  vertical-align: middle;
  
  /*
  -o-box-shadow: -0.0625em -0.0625em 0.5em #000;
  -ms-box-shadow: -0.0625em -0.0625em 0.5em #000;
  -moz-box-shadow: -0.0625em -0.0625em 0.5em #000;
  -webkit-box-shadow: -0.0625em -0.0625em 0.5em #000;
  box-shadow: -0.0625em -0.0625em 0.5em #000;
  */
}

.move-view img {
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}

.move-view .mask {
   -webkit-transform: translateX(-22em);
   -moz-transform: translateX(-22em);
   -o-transform: translateX(-22em);
   -ms-transform: translateX(-22em);
   transform: translateX(-22em);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}

.move-view p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   color: #333;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}

.move-view:hover .mask {
   -webkit-transform: translateX(0em);
   -moz-transform: translateX(0em);
   -o-transform: translateX(0em);
   -ms-transform: translateX(0em);
   transform: translateX(0em);
}

.move-view:hover img {
   -webkit-transform: translateX(22em);
   -moz-transform: translateX(22em);
   -o-transform: translateX(22em);
   -ms-transform: translateX(22em);
   transform: translateX(22em);
}

.move-view:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

.scale-view:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.scale-view {
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}

.galleries li:nth-child(odd) img {
  -o-box-shadow: 0.0625em 0.0625em 0.5em #000;
  -ms-box-shadow: 0.0625em 0.0625em 0.5em #000;
  -moz-box-shadow: 0.0625em 0.0625em 0.5em #000;
  -webkit-box-shadow: 0.0625em 0.0625em 0.5em #000;
  box-shadow: 0.0625em 0.0625em 0.5em #000;
}

.galleries li:nth-child(even) img {
  -o-box-shadow: -0.0625em -0.0625em 0.5em #000;
  -ms-box-shadow: -0.0625em -0.0625em 0.5em #000;
  -moz-box-shadow: -0.0625em -0.0625em 0.5em #000;
  -webkit-box-shadow: -0.0625em -0.0625em 0.5em #000;
  box-shadow: -0.0625em -0.0625em 0.5em #000;
}

.galleries li img:hover { 
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);

  -o-transform: rorate(0deg);
  -ms-transform: rorate(0deg);
  -moz-transform: rorate(0deg);
  -webkit-transform: rorate(0deg);
  transform: rorate(0deg);

  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;          
}

.well p::first-letter {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  
}

.well {
  background: #fcfff4;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmZmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOWU5Y2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #fcfff4 0%, #e9e9ce 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#e9e9ce));
  background: -webkit-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%);
  background: -o-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%);
  background: -ms-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%);
  background: linear-gradient(to bottom,  #fcfff4 0%,#e9e9ce 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 );

  border: 0.0625em solid #e9e9ce;

  -o-box-shadow: 0.0625em 0.0625em 0.1875em #d1d360;
  -ms-box-shadow: 0.0625em 0.0625em 0.1875em #d1d360;
  -moz-box-shadow: 0.0625em 0.0625em 0.1875em #d1d360;
  -webkit-box-shadow: 0.0625em 0.0625em 0.1875em #d1d360;
  box-shadow: 0.0625em 0.0625em 0.1875em #d1d360;
}

.well blockquote {
  border-color: #deb887;
}

.super-icon {
  color: green;
  font-size: 6em;
  float: left;
  margin: 0.125em;
}

.lead {
  font-family: 'Gabriela', 'serif';
  font-weight: 400;
  text-align: center;
  margin: 2em;
}

.btn-lead {
  color: #fff;
}

.clients_name {
  list-style: none;
  margin-left: 0em;
  font-weight: 400;
  font-size: 1.5em;
}

.designer {
  list-style: none;
  margin-left: 0em;
}

.designer li {
  display: inline-block;
  text-align: center;
}

.designer li img { 
  -o-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  box-shadow: 0.0625em 0.0625em 0.1875em #f0e68c, -0.0625em 0.0625em 0.1875em #f0e68c;
}

.designer li span, .designer li a {
  display: block;
  font-weight: bold;
  text-align: center;
  margin: 0.5em;
}

.clients_name li {
  display: inline-block;
  text-shadow: 0.0625em 0.0625em 0.1875em #fff;
  background-color: #f5deb3;
  padding: 0.5em;
  
  -o-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;

  border: 0.0625em solid #ccc;
}

.pricing-widget:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);

  -o-box-shadow: 0.0625em 0.0625em 0.1875em #f0e68c, -0.0625em -0.0625em 0.1875em #f0e68c;
  -ms-box-shadow: 0.0625em 0.0625em 0.1875em #f0e68c, -0.0625em -0.0625em 0.1875em #f0e68c;
  -moz-box-shadow: 0.0625em 0.0625em 0.1875em #f0e68c, -0.0625em -0.0625em 0.1875em #f0e68c;
  -webkit-box-shadow: 0.0625em 0.0625em 0.1875em #f0e68c, -0.0625em -0.0625em 0.1875em #f0e68c;
  box-shadow: 0.0625em 0.0625em 0.1875em #f0e68c, -0.0625em -0.0625em 0.1875em #f0e68c;

  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

.pricing-widget .widget-content {
  padding: 0em;
  font-size: 1.2em;
  text-align: center;
}

.pricing-widget .widget-content ul li {
  text-align: left;
}

.pricing-widget .widget-content .price {
  background-color: orange;
  font-size: 2em;
  padding: 0.5em;
  color: #fff;
  text-align: center;
}

.pricing-widget .widget-content a {
  text-align: center;  
  margin-bottom: 1em;
  
  -o-border-radius: 10em;
  -ms-border-radius: 10em;
  -moz-border-radius: 10em;
  -webkit-border-radius: 10em;
  border-radius: 10em;
}

.help-link {
  font-size: 1.5em;
}

.help-link [class*="icon-"] {
  color: green;
}

.guide img {
  float: left;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.guide .style-desc p:first-letter {
  font-size: 2em;
}

#social_shortcuts {
  font-size: 4em;
  text-align: center;
}

#blog_main section p:first-letter {
  font-size: 2em;
}

#hot_cloud #cloud_words {
  height: 10em;
}

#qrcode {
  text-align: center;
}

#blog_main img { 
  -o-border-radius: 0.375em;
  -ms-border-radius: 0.375em;
  -moz-border-radius: 0.375em;
  -webkit-border-radius: 0.375em;
  border-radius: 0.375em;
  float: left;
  margin-right: 0.5em;
}