.icon-menu > ul > li > a, .icon-menu > ul > li > span {
    color: #80c217;
}

.icon-menu > ul > li.circle a img {
	-o-box-shadow: 1px 1px 5px #80c217, -1px -1px 5px #80c217;
    -ms-box-shadow: 1px 1px 5px #80c217, -1px -1px 5px #80c217;
    -moz-box-shadow: 1px 1px 5px #80c217, -1px -1px 5px #80c217;
    -webkit-box-shadow: 1px 1px 5px #80c217, -1px -1px 5px #80c217;
    box-shadow: 1px 1px 5px #80c217, -1px -1px 3px #80c217;
}

.navbar {
	border-bottom: 100px solid #80c217;
	border-bottom: 100px solid rgba(128,194,23,0.2);
}

#main_wrapper {
	border-top: 1px solid #80c217;
}